body {
  font-family: Arial, sans-serif;
}

.title {
  display: flex;
  justify-content: center;
}

a:visited { 
  text-decoration: none; 
  text-decoration-line: none;
  color: black; 
}

.sidebar {
  margin-top: -3px;
  padding: 20px;
  position: fixed;
  width: 14%;
  height: 83%;
  background-color: rgb(169, 169, 169);
  border-radius: 10px;
}

.right_side{
  float: right;
  margin-right: 20px;
  background-color: rgb(169, 169, 169);
  border-radius: 10px;
  padding: 1px 12px 1px 12px;
}